{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test",
        "src": "./src",
        "components": "./src/components",
        "containers": "./src/constainers",
        "services": "./src/services"
      }
    }]
  ]
}
